﻿@page
@model CreateModel
@{
}

<form method="POST" role="form">
    <legend>Create Student</legend>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="@Model.student.id">ID</label>
        <input asp-for="@Model.student.id" class="form-control">
        <span asp-validation-for="@Model.student.id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.student.name">Name</label>
        <input asp-for="@Model.student.name" class="form-control">
        <span asp-validation-for="@Model.student.name" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
    <input type="button" value="Come back" class="btn btn-primary" onclick="location.href='https://localhost:5001/Students/Index';">
</form>