﻿@page
@model tt.Pages.DetailsModel
@{
}

<h1>Details</h1>
<hr>
<h2>Student ID is: @DetailsModel.student.id </h2>
<h2>Student name is: @DetailsModel.student.name </h2>
<br>
<a class="btn btn-primary" href="https://localhost:5001/Students/Index" role="button">Come back</a>
<a class="btn btn-success" asp-page="Edit" asp-route-id="@DetailsModel.student.id">Edit</a>