﻿@page
@model tt.Pages.EditModel
@{
}

<form method="POST" role="form">
    <legend>Edit Student: @EditModel.student.name</legend>
    <div class="form-group">
        <label>ID: @EditModel.student.id </label>
        <input asp-for="@EditModel.student.id" name="id" class="form-control">
    </div>
    <div class="form-group">
        <label>Name: @EditModel.student.name </label>
        <input asp-for="@EditModel.student.name" name="name" class="form-control">
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
    <input type="button" value="Come back" class="btn btn-primary" onclick="location.href='https://localhost:5001/Students/Index';">
</form>