﻿@page 
@model IndexModel_1
@{
    ViewData["title"] = "Students";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<form method="POST">
    <div style="width:40%;float:left;">
        <input name="stName" type="text" class="form-control" placeholder="Student name...">
    </div>
    <input type="submit" class="btn btn-success" value="Search">
    <a class="btn bg-danger text-light" asp-page="Index" asp-route-id="-1" role="button">Return</a>
</form>
<br>
<a class="btn bg-primary text-light" asp-page="Index" asp-route-sort="name" role="button"> Order By Name</a>
<a class="btn bg-primary text-light" asp-page="Index" asp-route-sort="id" role="button"> Order By Id</a>
<table class="table">
    <thead>
        <tr class="bg-dark text-light">
            <th>N</th>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0, j = 1; i < IndexModel_1.students.Count; i++, j++)
        {
            <tr>
                <td><b>@j</b></td>
                <td scope="row"><b> @IndexModel_1.students[i].id </b> </td>
                <td><b>@IndexModel_1.students[i].name </b>
                    <a  style="margin-left:10px;" class="btn text-light bg-success" asp-page="Details" asp-route-id="@IndexModel_1.students[i].id">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td><a class="btn" asp-page="Edit" asp-route-id="@IndexModel_1.students[i].id">Edit</a> |  
                <a class="btn" asp-page="Index" asp-route-id="@IndexModel_1.students[i].id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a name="" id="" class="btn btn-primary" href="https://localhost:5001/Students/Create" role="button">Add student</a>